<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="#">NEWS</a></li>
      <li><a href="#">ENTERTAINMENT</a></li>
      <li><a href="#">FASHION & BEAUTY</a></li>
      <li><a href="#">LIFESTYLE</a></li>
      <li><a href="#">BOOKS</a></li>
    </ul>
  </nav>
  {{outlet}}
</div>
