<div class="col-md-9">
  {{outlet}}
</div>
<div class="col-md-3">
  jksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kjjksgrhJKASH GJKSH GJKSH GJKHS Gjkhsg kjgh kj
</div>
