<div class="row" id="carousel">
    <div class="col-md-1">
      <button class="btn btn-default btn-lg" {{action "previousSlide"}}>&lt;</button>
    </div>
    <div class="col-md-10">
      <figure>
        <img class="img-responsive" {{bind-attr src=currentImage}}>
        <figcaption>
          <h4>{{currentHeadline}}</h4>
          <p>You won't believe what happens next!</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-1">
      <button class="btn btn-default btn-lg" {{action "nextSlide"}}>&gt;</button>
    </div>
</div>

<div class="row">
  {{#link-to "article01"}}
    <div class="col-md-4">
      <figure>
        <img class="img-responsive" src="//placehold.it/360x200">
        <figcaption><p>This is the first article. Woo.</p></figcaption>
      </figure>
    </div>
  {{/link-to}}
  {{#link-to "article02"}}
    <div class="col-md-4">
      <figure>
        <img class="img-responsive" src="//placehold.it/360x200">
        <figcaption><p>Article two is here too!</p></figcaption>
      </figure>
    </div>
  {{/link-to}}
</div>

<div class="row">
  {{#link-to "article03"}}
    <div class="col-md-4">
      <figure>
        <img class="img-responsive" src="//placehold.it/360x200">
        <figcaption><p>Three is the charm!</p></figcaption>
      </figure>
    </div>
  {{/link-to}}
  {{#link-to "article04"}}
    <div class="col-md-4">
      <figure>
        <img class="img-responsive" src="//placehold.it/360x200">
        <figcaption><p>Sucks to be 4.</p></figcaption>
      </figure>
    </div>
  {{/link-to}}
</div>
